@(appForm:Form[ActivityApplication], creationType: String = "Proposed", closeOut: Boolean = false)
@* 
 * This partial is used on the draft and proposed activity application form to allow the user to 
 * add intended locations for activity, but no date entry for actual activity
 *@
 
@includes.location_input_fields(appForm, 
   		Messages("activityform.heading.location_entry"), 
   		Messages("activityform.field_hint.location_entry_type"),
   		Messages("activityform.text.location_entry")
)

<div class="manage">
	<input class="button" type="button" id="addPa" value="@Messages("activityform.add_location")">
</div>
	
<fieldset id="activitylocations">
 	<legend class="form-label-bold">@Messages("activityform.field_heading.activity_locations")</legend>
	@helper.repeat(appForm("pa"), min=0) { pa =>
		@location_entry_group(pa, parentId=appForm("id").value, closeOut = closeOut)
	}
   	<div id="nolocations" @if((appForm("pa").indexes.size) > 0){class="js-hidden"}>@Messages("activityform.nolocations")</div>
       
	@**
	 * Keep an hidden block that will be used as template for Javascript copy code
	 **@
	@location_entry_group(appForm("pa[x]"), className = "pa_template js-hidden", parentId=appForm("id").value, creationType = creationType, closeOut = closeOut)
          
</fieldset>