@(appForm:Form[ActivityApplication], creationType: String = "Proposed", closeOut: Boolean = false)
@* 
 * This partial is used on the draft and proposed activity application form to allow the user to 
 * add intended locations for activity, but no date entry for actual activity
 *@
 
@includes.location_input_fields(appForm, 
   		Messages("activityform.heading.location_entry"), 
   		Messages("activityform.field_hint.location_entry_type"),
   		Messages("activityform.text.location_entry")
)

<fieldset id="activitylocations">
 	<legend class="form-label-bold">@Messages("activityform.field_heading.activity_locations")</legend>
	@helper.repeat(appForm("activitylocations"), min=0) { activitylocations =>
		@location_entry_group(activitylocations, parentId=appForm("id").value, closeOut = closeOut, appStatus = appForm("status").value)
	}
   	<div id="nolocations" @if((appForm("activitylocations").indexes.size) > 0){class="js-hidden"}>@Messages("activityform.nolocations")</div>
       
	@**
	 * Keep an hidden block that will be used as template for Javascript copy code to add locations in the list using the Add Location button
	 **@
	@location_entry_group(appForm("activitylocations[x]"), 
		className = "activitylocations_template js-hidden", 
		parentId=appForm("id").value, 
		creationType = creationType, 
		closeOut = closeOut,
		appStatus = appForm("status").value
		)
          
</fieldset>
