@(appForm:Form[_], heading:String, hint:String, helpText:String)
<fieldset>
   	<legend class="form-label-bold">@heading</legend>
   	<span class="form-hint">@hint</span>
   	<p>@helpText<p>
   	
	<label class="block-label radio-location" data-target="latlng-entry" for="entry-1">
		<input id="entry-1" type="radio" name="entrytype" value="latlng" data-display-name="@Messages("location.type.latlng")" />
   		@Messages("location.type.latlng")
	</label>
	<div class="panel-indent js-hidden" id="latlng-entry">
		<span class="form-hint">@Messages("activityform.field_hint.latlng")</span>
		@helper.inputText(appForm("lat"), 
				'_label->Messages("activityform.field_heading.lat"),
				'_fieldhint->Messages("activityform.field_hint.lat"),
				'_showConstraints -> false, 
				'class->"form-control")(govuk.govukFieldConstructor, implicitly[Lang])
		@helper.inputText(appForm("lng"), 
			'_label->Messages("activityform.field_heading.lng"),
			'_fieldhint->Messages("activityform.field_hint.lng"),
			'_showConstraints -> false, 
			'class->"form-control")(govuk.govukFieldConstructor, implicitly[Lang])
	</div>
	
	<label class="block-label radio-location" data-target="block-entry" for="entry-2">
    	<input id="entry-2" type="radio" name="entrytype" value="ogb" data-display-name="@Messages("location.type.ogb")"/>
    	@Messages("location.type.ogb")
	</label>
	<div class="panel-indent js-hidden" id="block-entry">
		<span class="form-hint">@Messages("activityform.field_hint.block_code")</span>
		@helper.inputText(appForm("entered_ogb_code"), '_label->Messages("activityform.field_heading.block_code"))(govuk.govukFieldConstructor, implicitly[Lang])
	</div>
</fieldset>