.related-actions {
	list-style-type: none;
	list-style-image: none;
	margin: 0;
	padding: 0;
	padding: 0em 0em 0 0em;

	li {
    	margin: 0;
    	padding: 0;
	}
}

.radio-orgs {
	width: 25em;
}

.radio-activitytypes {
	width: 15em;
}

.radio-location {
	width: 15em;
} 

#xxglobal-header, #xxglobal-header .header-wrapper {
	background-color: #003154;
}
