@(au:AppUser, newPassword:String, host:String)
<div>
@play.twirl.api.Html(Messages("resetpassword.mail.salutation", au.getFullname()))
</div>
<div>
@play.twirl.api.Html(Messages("resetpassword.mail.preamble"))
</div>
<div>
@newPassword
</div>
<div>
@play.twirl.api.Html(Messages("resetpassword.mail.prelink"))
</div>
<div>
<a href="http://@(host + routes.LoginController.index())">@Messages("resetpassword.mail.linktext")</a>
</div>
<div>
@play.twirl.api.Html(Messages("resetpassword.mail.footer"))
</div>