@(appUser: AppUser, activityapp: ActivityApplication)

@import layouts.govuk_template
@import scala._
@import includes._
@head={
	@noiseregistry_head()
	@noiseregistry_googleanalytics()
}
@bodyEnd={
	@noiseregistry_scripts()
}  
@insideHeader={}
@afterHeader={}
@footerTop={}
@footerLinks={
	@noiseregistry_footer()
}
@headerClass={with-proposition}
@propositionHeader={
  	@noiseregistry_navigation(if(appUser==null) {"NONE"} else {appUser.getOrgRole()}, "HOME")	
}
	
@govuk_template(Option("Marine Noise Registry"),None)(Option(head), Option(bodyEnd), Option(insideHeader), Option(afterHeader), Option(footerTop), Option(footerLinks), Option(headerClass), Option(propositionHeader)) {
	<main id="page-container" role="main">
		@noiseregistry_phasebanner()
  		@noiseregistry_breadcrumb("DRAFTAPPL")
    	<div class="grid-row">
    		<div class="column-two-thirds">
    		
  		<h1 class="heading-large">@play.twirl.api.Html(Messages("activityform.delete.title"))</h1>
  		<p>@play.twirl.api.Html(Messages("activityform.delete.text"))</p>
  		
  		<table title="Submitted values for activity application">
			<tbody>
				@form_displaynumber(activityapp.getId().floatValue(), "activityform.field_heading.aan","%.0f")
				@form_displaytext(activityapp.getNoiseproducer().getOrganisation().getOrganisation_name(), "activityform.field_heading.noiseproducer")
				@form_displaytext(activityapp.getRegulator().getOrganisation().getOrganisation_name(), "activityform.field_heading.regulator")
				@if(activityapp.getNon_licensable()) {
					@form_displaytext(Messages("activityform.non_licensable.true"), "activityform.field_heading.non_licensable")
				} else {
					@form_displaytext(Messages("activityform.non_licensable.false"), "activityform.field_heading.non_licensable")
				}
				@form_displaydate(activityapp.getDate_start(), "activityform.field_heading.date_start")				
				@form_displaydate(activityapp.getDate_end(), "activityform.field_heading.date_end")
				@form_displaynumber(activityapp.getDuration().floatValue(), "activityform.field_heading.duration","%.0f","units.duration")
				@form_displaytext(ActivityTypes.get(activityapp.getActivitytype_id()), "activityform.field_heading.activity_type")
			</tbody>
 		</table>
 		<div style="clear:both">&nbsp;</div> 
 		@helper.form(routes.ActivityApplicationController.delete(activityapp.getId())) {
            <input class="button" type="submit" value="@play.twirl.api.Html(Messages("activityform.delete.submit"))">
			<a href="@routes.ActivityApplicationController.read(activityapp.getId())">@play.twirl.api.Html(Messages("activityform.delete.dontdelete"))</a>
		}
		
	 		</div>
  		</div>
	</main>
}