@(appUser: AppUser, activityapp: ActivityApplication, appForm: Form[_], id: Long)

@import layouts._
@import scala._
@import includes._
@import java.math.BigInteger; var l:Long=0; var f="";
@head={
	@noiseregistry_head()
	@noiseregistry_googleanalytics()
}
@bodyEnd={
	@noiseregistry_scripts()
	@location_script(Option(activityapp.getDate_start), Option(activityapp.getDate_end))
}  
@insideHeader={}
@afterHeader={}
@footerTop={}
@footerLinks={
	@noiseregistry_footer()
}
@headerClass={with-proposition}
@propositionHeader={
  	@noiseregistry_navigation(if(appUser==null) {"NONE"} else {appUser.getOrgRole()}, "HOME")	
}
	
@jncc_template(Option("Marine Noise Registry"),None)(Option(head), Option(bodyEnd), Option(insideHeader), Option(afterHeader), Option(footerTop), Option(footerLinks), Option(headerClass), Option(propositionHeader)) {
	<main id="page-container" role="main">
		@noiseregistry_phasebanner()
  		@noiseregistry_breadcrumb("PROPOSEDAPPL")
    	<a id="content"></a>
  		<h1 class="heading-large">@play.twirl.api.Html(Messages("activityformcloseout.title"))</h1>
  		  		
		<table title="Submitted values for activity application">
			<tbody>
				@form_displaylong(activityapp.getId(), "activityform.field_heading.aan")
				@form_displaytext(activityapp.getNoiseproducer().getOrganisation().getOrganisation_name(), "activityform.field_heading.noiseproducer")
				@form_displaytext(activityapp.getRegulator().getOrganisation().getOrganisation_name(), "activityform.field_heading.regulator")
				@if(activityapp.getNon_licensable()) {
					@form_displaytext(Messages("activityform.non_licensable.true"), "activityform.field_heading.non_licensable")
				} else {
					@form_displaytext(Messages("activityform.non_licensable.false"), "activityform.field_heading.non_licensable")
				}
				@form_displaydate(activityapp.getDate_start(), "activityform.field_heading.date_start")				
				@form_displaydate(activityapp.getDate_end(), "activityform.field_heading.date_end")
				@form_displayinteger(activityapp.getDuration(), "activityform.field_heading.duration", "units.duration")
				@form_displaytext(ActivityTypes.get(activityapp.getActivitytype_id()), "activityform.field_heading.activity_type")
				@activity_type_data_read(activityapp)
			</tbody>
 		</table>

 		<div style="clear:both">&nbsp;</div> 
		@helper.form(action = routes.ActivityApplicationController.closeOutApplication(id), 'id -> "form") {
			@if(appForm.hasGlobalErrors) {
				@for(error <- appForm.globalErrors) {
             		<p class="validation-message">
                 		@error.message
             		</p>
             	}
       		}
       		@activity_type_data_actual_close_out(appForm, activityapp.getActivitytype_id())
       		
			@location_record_dates(appForm)
			
		    <input type="hidden" name="activitytype_id" value="@activityapp.getActivitytype_id().toString()">  	
		    <input type="hidden" name="id" value="@activityapp.getId().toString()">  	
		    <input name="interimcloseout" class="button" type="submit" value="@Messages("activityformcloseout.interim")">	
  			<input class="button" type="submit" value="@Messages("activityformcloseout.submit")">
			<a href="@routes.ActivityApplicationController.read(activityapp.getId())">@play.twirl.api.Html(Messages("activityformcloseout.cancel"))</a>
		}
		
	</main>
}
